{% extends 'homepage/base.html' %}

{% block content %}
    <div>
        {% if user.is_authenticated %}
            <a class="btn btn-default" href="{% url 'homework_edit' pk=homework.pk %}"><span class="glyphicon glyphicon-pencil"></span></a>
            <a class="btn btn-default"
            onclick="return confirm('Are you Sure?')"
            href="{% url 'homework_remove' pk=homework.pk %}"><span class="glyphicon glyphicon-remove"></span></a>
        {% endif %}

        {% if homework.published_date %}
            <div class="date">
                {{ homework.published_date }}
            </div>
        {% else %}
            <a class="btn btn-default" href="{% url 'homework_publish' pk=homework.pk %}">Publish</a>
        {% endif %}

        {% if homework.screenshot %}
                <img src="{{ homework.screenshot.url }}" alt="" width="50%">
            {% endif %}
        <h1>{{ homework.title }}</h1>
        <p>{{ homework.text|linebreaksbr }}</p>
        <a href="{{ homework.hyperlink }}">{{ homework.hyperlink }}</a>
    </div>
    <a href="/homepage/homework/list">리스트로 돌아가기</a>
{% endblock %}