{%extends 'homepage/base.html'%}

{% block content %}
    {% if user.is_authenticated %}
        <div class="page-header">
            <a href="{% url 'homework_new' %}" class="top-menu"><span class="glyphicon glyphicon-plus"></span></a>
            <a href="{% url 'homework_draft_list' %}" class="top-menu"><span class="glyphicon glyphicon-edit"></span></a>        
        </div>
    {% endif %}
    {% for homework in homeworks %}
        <div class="homework">
            <div class="date">
                {{ homework.published_date }}
            </div>
            {% if homework.screenshot %}
                <img src="{{ homework.screenshot.url }}" alt="" width="100%" height="100%">
            {% endif %}
            <h3><a href="{% url 'homework_detail' pk=homework.pk %}">{{ homework.title }}</a></h3>
            <p>{{ homework.author }}<p>
        </div>
    {% endfor %}
{% endblock %}